<footer >
    <hr>
    <div class="container">
        <p class="text-center text-white small">Copyright © 8056 | Laissez Faire</p>
    </div>
    <div class="container px-5">
        <center><a class="btn btn-primary btn-lg btn-floating" style="background-color: #ac2bac;" target="_blank" href="https://www.instagram.com/frc.laissez.faire/" role="button"><i class="bi bi-instagram"></i></a>
            <a class="btn btn-primary btn-lg btn-floating" style="background-color: #0082ca;" target="_blank" href="https://www.linkedin.com/company/laissezfairefrc/" role="button"><i class="bi bi-linkedin"></i></a>
        </center>
    </div>
</footer>