asgiref==3.7.2
autopep8==2.0.4
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.2
decouple==0.0.7
Django==4.2.7
django-bootstrap5==2.0.0
django-crispy-forms==2.1
djangorestframework==3.14.0
idna==3.4
mysqlclient==2.1.1
Pillow==10.1.0
pycodestyle==2.11.1
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
urllib3==2.1.0
