{% extends "web_layout.html" %}
{% load static %}
{% block title %}Haber{% endblock title %}
{% block content %}
    <div class="container contentContainer">
        <h2>{{news.header}}</h2>
        <hr>
        <div class="content">
           <div class="row">
                <div class="col-md-6">
                    <div id="detailCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="2000">
                            <img src="../../{{ news.head_image }}" class="d-block w-100" alt="...">
                          </div>
                          {% for image in news.images.all %}
                            <div class="carousel-item" data-bs-interval="5000">
                              <img src="../../{{ image.image.url }}" class="d-block w-100" alt="...">
                            </div>
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#detailCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#detailCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col-md-6">
                    {{news.desc}}
                </div>
           </div>

        </div>
    </div>
{% endblock content %}

