{% extends "layout.html" %}
{% load static %}
{% block title %}Haberler{% endblock title %}
{% block content %}
    <div class="container contentContainer">
        <h2>Haberler</h2> <hr>
        <div class="row">
            {% for news in  newss %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ news.head_image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-header">{{news.header|truncatechars:80|safe}}</h5>
                        <p class="card-desc">{{news.desc|truncatechars:280|safe}}</p>
                        <a href="{% url 'newsDetails' news.id %}" class="btn btn-primary">Daha fazla oku...</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}