{% load static %}
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{%url "dashboard"%}">
        <div class="sidebar-brand-icon rotate-n-15">
            <img class="img img-responsive img-fluid lfLogo" src="{%static "/assets/images/logo.png"%}" alt="Laissez Faire Logo">
        </div>
        <div class="sidebar-brand-text mx-3">
            LF Academy
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{%url "dashboard"%}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Akademi
    </div>


    {% for course in courses %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#{{ course.name|slugify }}"
                aria-expanded="true" aria-controls="{{ course.name|slugify }}">
                <i class="fas fa-fw {{ course.menu_icon }}"></i>
                <span>{{ course.name }}</span>
            </a>
            <div id="{{ course.name|slugify }}" class="collapse" aria-labelledby="{{ course.name|slugify }}Heading"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    {% for topic in topics %}
                        {% if topic.course == course %}
                            <a class="collapse-item" href="{% url 'content_list' topic.id %}">{{ topic.name }}</a>
                        {% endif %}
                    {% endfor %}
                    <div class="collapse-divider"></div>
                </div>
            </div>
        </li>
    {% endfor %}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>