<div class="row my-4">
  <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
    <div class="card">
      <div class="card-header pb-0">
        <div class="row">
          <div class="col-lg-6 col-7">
            <h6>Tamamladığım / Devam eden derslerim</h6>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2 container">
        <div class="table-responsive">
            {% if watched_contents.exists %}
            <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">İçerik</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tamamlanma</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
              {% for watched_content in watched_contents %}
                <tr>
                  <td>{{ watched_content.content.title }}</td>
                  <td> 
                    {% if watched_content.watched_percentage >= 90 %}
                        Tamamlandı
                    {% else %}
                        %{{ watched_content.watched_percentage |floatformat:2 }}
                    
                  </td>
                  <td>
                    <a  class="btn btn-danger" href="{% url 'show_content' content_id=watched_content.content.id %}">
                        İzlemeye devam et
                    </a>
                  </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
            {%else%}
                <p>Henüz dersleri izlemeye başlamamışsın.</p>
            {% endif%}
            
        </div>
      </div>
    </div>
  </div>
</div>
